<div class='uit-body'>
    <div class='uit-container'>
        {{#each @this}}
            <div class='uit-story'>
                <h3 class='uit-story__intro'>{{{ marked intro }}}</h3>
                {{#if landscapeImage }}
                    <div class='uit-story__photo uit-story__photo--landscape'>
                        <img class='uit-story__image' src='{{ gridToLink landscapeImage }}' />
                        <p class='uit-story__caption'>{{ landscapeCaption }}</p>
                    </div>
                {{/if}}
                {{#if portraitImage }}
                    <div class='uit-story__photo uit-story__photo--portrait'>
                        <img class='uit-story__image' src='{{ gridToLink portraitImage }}' />
                        <p class='uit-story__caption'>{{ portraitCaption }}</p>
                    </div>
                {{/if}}
                <div class='uit-story__body'>
                    {{{ marked body }}}
                </div>
            </div>
        {{/each}}
    </div>
</div>
