<div class='uit-header'>
    <div class='uit-container'>
        <div class='uit-header__images'>
            {{#each @this}}
                <a href='#{{ handlise name }}' class='uit-header__image uit-header__image--{{ @key }}'>
                    <img class='uit-header__actual-image' src='{{ gridToLink portraitImage }}' />
                    <h2 class='uit-header__image-label'>Read {{ name }}'s story</h2>
                </a>
            {{/each}}
        </div>
        <div class='uit-content'>
            <h1 class='uit-header__headline' itemprop='headline'>
                <span class='uit-header__headline-kicker'>The new American family</span>
                <span class='uit-header__headline-list'>Trans, gender queer, nonbinary, two-spirit</span>
            </h1>
            <p class='uit-header__standfirst' itemprop='description'>As part of our series, <a href='https://www.theguardian.com/us-news/series/stonewall-at-50'>Stonewall at 50</a>, we hear from six people who found love and happiness – after being told they didn't belong.<br />As told to <a href='https://www.theguardian.com/profile/francisco-navas'>Francisco Navas</a></p>

            <p class='uit-header__dateline'>
                <time itemprop='datePublished' datetime='2019-06-20T08:00:00-0500'>
                Thurs 20 June 2019
                </time>
            </p>

            {{> partials/share }}
        </div>
    </div>
</div>
