<div class='uit-header'>
    <div class='uit-container'>
        <div class='uit-header__images'>
            {{#each @this}}
                <img class='uit-header__image uit-header__image--{{ @key }}' src='{{ gridToLink portraitImage }}' />
            {{/each}}
        </div>
        <div class='uit-content'>
            <h1 class='uit-header__headline' itemprop='headline'>
                <span class='uit-header__headline-kicker'>The new American family</span>
                <span class='uit-header__headline-list'>Trans, gender queer, nonbinary, two-spirit</span>
            </h1>
            <p class='uit-header__standfirst' itemprop='description'>We hear from six people who found love and happiness – after being told they didn't belong. It’s part of a week long project for the anniversary of <a href='https://www.theguardian.com/us-news/series/stonewall-at-50'>Stonewall</a>.<br />As told to <a href='https://www.theguardian.com/profile/francisco-navas'>Francisco Navas</a></p>

            <p class='uit-header__dateline'>
                <time itemprop='datePublished' datetime='2019-01-01T08:00:30-0500'>
                Wed 19 June 2019
                </time>
            </p>

            {{> partials/share }}
        </div>
    </div>
</div>
