<div class='uit-header'>
    <div class='uit-container'>
        <h1 class='uit-header__headline' itemprop='headline'>
            Family is simply who loves you
        </h1>
        <p class='uit-header__standfirst' itemprop='description'>A short intro that talks to the seven stories of trans and nonbinary couples and the reason why we’re doing it. It’s part of a week long project for the anniversary of Stonewall. Maybe another part that talks to the project or whatever. As told to <a href='https://www.theguardian.com/profile/francisco-navas'>Francisco Navas</a></p>

        <p class='uit-header__dateline'>
            <time itemprop='datePublished' datetime='2019-01-01T08:00:30-0500'>
            Wed 19 June 2019
            </time>
        </p>

        {{> partials/share }}
    </div>
</div>
