<div class='uit-related'>
    <div class='uit-container'>
        <div class='uit-related__header'>
            <h4 class='uit-related__title'>More from <a href='https://www.theguardian.com/us-news/series/stonewall-at-50'>Stonewall at 50</a></h4>
        </div>

        <div class='uit-related__items'>
            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://www.theguardian.com/lifeandstyle/2019/jun/19/stonewall-50th-anniversary-night-that-unleashed-gay-liberation'>
                    <img class='uit-related__image' src='https://media.guim.co.uk/55517e9a1afb4ebc1c64b057dc8dd1e90af18840/75_1399_2747_1648/500.jpg' />
                    <div class='uit-related__headline'>Stonewall: a journey into the night that unleashed gay liberation</div>
                </a>
            </div>

            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://www.theguardian.com/lifeandstyle/commentisfree/2019/jun/19/white-men-were-first-to-benefit-from-gay-liberation-but-it-cant-end-there'>
                    <img class='uit-related__image' src='https://media.guim.co.uk/a477ff83318582b3d02cc5f376e13168278cf01d/0_0_3000_1800/500.jpg' />
                    <div class='uit-related__headline'>White men were first to benefit from gay liberation – but it can't end there – Edmund White</div>
                </a>
            </div>

            <div class='uit-related__item uit-related__item--last'>
                <a class='uit-related__link' href='https://gu.com/p/bkj5f'>
                    <img class='uit-related__image' src='https://media.guim.co.uk/f0a48d041606837f3ea8f78bf1b8f940b1f1c856/60_0_1800_1080/500.jpg' />
                    <div class='uit-related__headline'>'We gotta keep fighting and yelling': New York drag queens on the legacy of Stonewall – video</div>
                </a>
            </div>

            <!-- <div class='uit-related__item'>
                <a class='uit-related__link' href=''>
                    <img class='uit-related__image' src='' />
                    <div class='uit-related__headline'>This is the headline for the piece</div>
                </a>
            </div> -->
        </div>
    </div>
</div>
