.uit-story {
    @include mq(desktop) {
        position: relative;
        max-width: calc(50% - 10px);
        padding-bottom: 100px;
    }
}

.uit-story__intro p {
    font-family: 'Guardian Egyptian Web';
    font-size: 24px;
    line-height: 1.2;
    font-weight: 300;
    color: $c-black;

    @include mq(desktop) {
        font-size: 36px;
        padding-bottom: 140px;
        margin-top: -8px;
    }
}

.uit-story__body {
    max-width: 620px;
    padding-top: 18px;

    @include mq(desktop) {
        padding-top: 12px;
    }

    p {
        font-family: 'Guardian Text Egyptian Web';
        font-size: 16px;
        line-height: 22px;
        color: $c-black;
        margin-bottom: 18px;
    }
}

.uit-story__photo--portrait {
    @include mq(desktop) {
        width: 100%;
        position: absolute;
        top: 0;
        right: calc(-100% - 20px);
    }
}

.uit-story__photo--landscape {
    width: 100%;
}

.uit-story__image {
    width: 100%;
}

.uit-story__caption {
    position: relative;
    font-family: 'Guardian Sans Web';
    font-size: 14px;
    line-height: 1.3;
    color: $c-black;
    text-indent: 1.1em;
    margin-top: 6px;
    max-width: 460px;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        margin-top: 2px;
        border-left: transparent .4em solid;
        border-right: transparent .4em solid;
        border-bottom: $c-light-blue 0.8em solid;
    }
}

.uit-story--flipped {
    @include mq(desktop) {
        margin-left: calc(50% - 10px);

        .uit-story__photo--portrait {
            right: auto;
            left: calc(-100% - 20px);
        }
    }
}

.uit-story--double {
    @include mq($until: desktop) {
        .uit-story__photo {
            display: flex;
        }

        .uit-story__image {
            width: calc(75% - 5px);
        }
    }
}

.uit-story--mobile-normal {
    @include mq($until: desktop) {
        .uit-story__photo--portrait {
            align-items: flex-start;

            .uit-story__caption {
                margin-left: 10px;
                margin-top: 0;

                &:before {
                    border-top: transparent .4em solid;
                    border-bottom: transparent .4em solid;
                    border-right: $c-light-blue 0.8em solid;
                    border-left: none;
                }
            }
        }

        .uit-story__photo--landscape {
            align-items: flex-end;
            flex-direction: row-reverse;
            margin-top: -10%;

            .uit-story__caption {
                margin-top: calc(10% + 6px);
                margin-right: 10px;
                margin-bottom: -4px;

                &:before {
                    border-top: transparent .4em solid;
                    border-bottom: transparent .4em solid;
                    border-left: $c-light-blue 0.8em solid;
                    border-right: none;
                }
            }
        }
    }
}

.uit-story--mobile-flipped {
    @include mq($until: desktop) {
        .uit-story__photo--portrait {
            align-items: flex-start;
            flex-direction: row-reverse;

            .uit-story__caption {
                margin-right: 10px;
                margin-top: 0;

                &:before {
                    border-top: transparent .4em solid;
                    border-bottom: transparent .4em solid;
                    border-left: $c-light-blue 0.8em solid;
                    border-right: none;
                }
            }
        }

        .uit-story__photo--landscape {
            align-items: flex-end;
            margin-top: -10%;

            .uit-story__caption {
                margin-top: calc(10% + 6px);
                margin-left: 10px;
                margin-bottom: -4px;

                &:before {
                    border-top: transparent .4em solid;
                    border-bottom: transparent .4em solid;
                    border-right: $c-light-blue 0.8em solid;
                    border-left: none;
                }
            }
        }
    }
}
