.uit-story__intro p {
    font-family: 'Guardian Egyptian Web';
    font-size: 24px;
    line-height: 1.2;
    font-weight: 300;
    color: $c-black;

    @include mq(desktop) {
        font-size: 36px;
    }
}

.uit-story__body {
    max-width: 620px;

    p {
        font-family: 'Guardian Text Egyptian Web';
        font-size: 16px;
        line-height: 22px;
        color: $c-black;
        margin-bottom: 18px;
    }
}

.uit-story__caption {
    position: relative;
    font-family: 'Guardian Sans Web';
    font-size: 14px;
    line-height: 1.3;
    color: $c-black;
    text-indent: 1.1em;
    margin-top: 4px;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        margin-top: 2px;
        border-left: transparent .4em solid;
        border-right: transparent .4em solid;
        border-bottom: $c-light-blue 0.8em solid;
    }
}
