.uit-header {
    position: relative;
    overflow: auto;
    text-align: center;

    .uit-content {
        padding: 80px 0;

        @include mq(tablet) {
            padding: 160px 0;
            margin: 0 auto;
        }

        @include mq(desktop) {
            padding: 240px 0;
        }
    }
}

.uit-header__headline {
    padding: 6px 0;
    font-family: 'Guardian Egyptian Web';
    font-weight: 200;
    font-size: 40px;
    line-height: 1.1;

    @include mq(tablet) {
        font-size: 48px;
    }

    @include mq(desktop) {
        font-size: 80px;
        line-height: .95;
        text-align: center;
    }

    &:before {
        content: '\201C';
    }

    &:after {
        content: '\201D';
    }
}

.uit-header__headline-kicker {
    display: block;
    color: $c-red;
}

.uit-header__standfirst {
    padding: 3px 0 0;
    font-family: 'Guardian Text Egyptian Web';
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    @include mq(desktop) {
        padding: 24px 0 0;
    }

    a {
        color: $c-black;
        border-bottom: 1px solid $c-pink;
        text-decoration: none;

        &:hover {
            border-bottom-color: $c-black;
        }
    }
}

.uit-header .uit-share {
    margin: 0 auto;
    display: inline-block;
}

.uit-header__dateline {
    font-family: 'Guardian Sans Web';
    font-size: 14px;
    color: $c-black;
    margin: 2px 0 4px 0;

    @include mq(desktop) {
        margin-bottom: 6px;
    }
}

.uit-header__images {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.uit-header__image {
    width: 20%;
    position: absolute;
}
